:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-gray: #10100e;

  --font-family-main: sans-serif;

  --spacing-medium: 20px;
  --border-radius-small: 3px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
}